h1 {
    font-size: 26px;
    font-weight: 800;
    color: #515151;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    color: #515151;
}

.action-btn {
    background-color: #1bcaff;
    color: white;
    font-size: 19px;
    text-transform: uppercase;
    border: none;
    padding: 10px 15px;
    margin-top: 0.4rem;
}

.action-btn:hover {
    cursor: pointer;
    background-color: #00b6ee;
}

header {
    background-color: #e7e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
}

.search-bar {
    display: flex;
}

#search-input {
    height: 30px;
    width: 200px;
    padding-left: 5px;
    border: 1px solid #c7c7c7;
    border-right: none;
    font-size: 17px;
}

#search-input:focus {
    outline: none;
}

#search-btn {
    width: 30px;
    background-color: white;
    border: 1px solid #c7c7c7;
    border-left: none;
    padding: 0;
}

#search-btn i {
    background-color: white;
    border: none;
    font-size: 22px;
    color: #1bcaff;
}

#search-btn i:hover {
    cursor: pointer;
    color: #00b6ee;
}

.table-container {
    padding: 0 0 1rem 1rem;
    margin-right: 1rem;
    max-height: 77.7vh;
    overflow-y: auto;
    position: relative;
}

/* .scroll::-webkit-scrollbar {
    width: 50px;
} */

.scroll::-webkit-scrollbar-button {
    display: none;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    color: #515151;
}

thead {
    background-color: #e7e7e7;
    text-align: left;
    vertical-align: top;
    height: 3rem;
    position: sticky;
    top: 0;
}

th {
    padding: 8px;
    font-weight: normal;
}


tr {
    border-bottom: 3px solid #e7e7e7;
}


td {
    padding: 8px;
    height: 3rem;
    text-align: left;
    vertical-align: top;
}

.table-btns {
    text-align: right;
}

.table-btn {
    background-color: white;
    border: none;
    width: 25px;
    margin-left: 1rem;
}

.table-btn i {
    background-color: white;
    border: none;
    font-size: 20px;
    color: #1bcaff;
}

.table-btn i:hover {
    cursor: pointer;
    color: #00b6ee;
}

.hidde-btn {
    visibility: hidden;
}

.edit {
    margin-left: 0;
}

.row:hover .hidde-btn {
    visibility: visible;
}

.row:not(:hover) .hidde-btn {
    display: none;
}

.add {
    margin-top: 1.4rem;
    margin-left: 1rem;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-container {
    background-color: #fefefe;
    margin: auto;
    padding: 3rem;
    border: 1px solid #888;
    width: 40%;
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.headline {
    margin-bottom: 3rem;
}

.del-main {
    margin-top: -1rem;
}

.modal-main .modal-input-container {
    position: relative;
}

.modal-main .modal-input-container input {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
}

.modal-main .modal-input-container input::placeholder {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
}

.modal-main .modal-input-container input::placeholder:hover {
    color: #858585;
}

.modal-main .modal-input-container .modal-input {
    margin-bottom: 48px;
    width: 90%;
    border-bottom: 1.5px solid #ccc;
    padding: 6px 20px 6px 6px;
    font-size: 1.3rem;
    font-weight: 300;
    color: #858585;
    letter-spacing: 0.1rem;
}

.modal-main .modal-input-container label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 20px 6px 0px;
    font-size: 1.3rem;
    color: #858585;
    pointer-events: none;
    transition: 0.5s;
}

.modal-main .modal-input-container input:focus~label,
.modal-main .modal-input-container input:valid~label {
    top: -28px;
    left: 0;
    font-size: 1rem;
    color: #1bcaff;
}

.modal-btn {
    display: flex;
    justify-content: right;
    margin-top: 1rem;
}

.delete-btn {
    background-color: #1bcaff;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border: none;
    padding: 10px 15px;
    margin-top: 0.4rem;
    border-radius: 5px;
    margin-left: 0.8rem;
}

.delete-btn:hover {
    cursor: pointer;
    background-color: #00b6ee;
}

.cancel-btn {
    background-color: #aaaaaa;
    color: white;
    font-size: 17px;
    border: none;
    padding: 10px 15px;
    margin-top: 0.4rem;
    border-radius: 5px;
    margin-left: 0.5rem;
}

.cancel-btn:hover {
    cursor: pointer;
    background-color: #999999;
}